node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

package-lock.json
packager-info.json
.expo/packager-info.json
FrontEnd/.expo/packager-info.json
FrontEnd/.expo/*
FrontEnd/node_modules/**/*